@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@keyframes busMove {
  0% {
    left: 0%;
  }
  100% {
    left: 95%;
  }
}

.animate-busMove {
  animation: busMove 20s linear infinite;
}

/* styles.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Optional: make inner card content stretch */
#featurable-6366619a-14f8-4f58-a8a7-b64fc99071e1 article,
#featurable-6366619a-14f8-4f58-a8a7-b64fc99071e1 [class*="card"],
#featurable-6366619a-14f8-4f58-a8a7-b64fc99071e1 [class*="review"] {
  display: flex;
  flex-direction: column;
}

